* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*border: 1px solid black;*/
}

body {
	background: #002D37;
    margin: 0;
}

ul {
	list-style: none;
}

a:link, a:visited {
	color: #ffffff;
}

h2 {
	text-align: center;
    font: 3em 'Oleo Script';
    padding-bottom: 20px;
}

h3 {
    font: 1.5em 'Oleo Script';
}

img {
	height: 100px;
	width: 100px;
}

.menu {
	position: fixed;
	top: 0;
	width: 100%;
    height: 60px;
	background: #002D37;
	text-align: center;
    z-index: 10000;
}

.menu-item {
	display: inline-block;
    margin: auto;
}

.menu-item a {
    font: 1.5em 'Oleo Script';
    text-decoration: none;
    line-height: 60px;
    padding: 20px 40px;
}

.menu-item:hover {
	background: #ff8800;
}

.intro {
	margin-top: 60px;
	height: 460px;
    background: url("../images/bambooforrest.png") no-repeat center / cover;
}

.intro p {
    color: #ffffff;
    font: 3em 'Oleo Script';
    margin: 350px 15px 0;
    float: right;
}
.intro span {
    display: block;
    margin: -12px 0 0 35%;
    font: 0.5em 'Indie Flower';
}

.about {
	padding: 50px 0;
    color: #ffffff;
}

.mypicture {
    margin-left: 8%;
	width: 30%;
	display: inline-block;
}
.mypicture img {
    height: 100%;
    width: 100%;
}

.myprofile {
    margin-left: 5%;
    padding: 10px 50px;
	height: 490px;
	width: 50%;
	display: inline-block;
	vertical-align: top;
}
.myprofile p {
        font: 1em 'Indie Flower';
        color: rgba(255, 255, 255, 0.7);
}

.skills {
	height: 800px;
	padding: 50px 0;
    background: rgba(255, 255, 255, 0.7);
}

.skillscontainer {
    width: 90%;
    height: 100%;
    margin: 5px auto;
}

.myskills {
    margin: 0 auto 80px;
    width: 100%;
}

.skill {
	display: inline-block;
    vertical-align: top;
	height: 100px;
	width: 100px;
	margin: 10px 0 0 0.6%;
}
.skill img {
   display: block;
   transform: scale(0.6, 0.6);
}
.skill img:hover {
    display: block;
    transform: scale(1, 1);
}

.projects {
	height: 800px;
	padding: 100px 0 100px 0;
    background: rgba(120, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.7);
}

.projectcontainer {
    margin: 0 auto;
    width: 85%;
}

.myprojects {
	width: 90%;
	height: 450px;
	margin: 5px auto;
}

.project {
	display: inline-block;
	height: 200px;
	width: 200px;
	margin: 10px 10px;
}

.contact {
	height: 700px;
	width: 100%;
	color: #FFFFFF;
}

.contact h2 {
    text-align: left; 
    margin-left: 11px;  
}

.contactcontainer {
    height: 480px;
    margin: 150px auto 0;
    width: 85%;
}

.contactinfo {
	margin: 80px 30px;
    padding: 20px 35px;
	width: 35%;
	height: 285px;
	display: inline-block;
	vertical-align: top;
}
.contactinfo p {
    color: rgba(255, 255, 255, 0.7);
    margin: 6% 6%;
    display: block;
    font: 1em 'Indie Flower';
}

.contactform {
	margin: 100px auto 0;
    height: 320px;
    display: inline-block;
    width: 55%;
}

.contactform input[type=text] {
	width: 100%;
	margin: 5px auto 10px;
	background: rgba(100,100,100,0.2);
    color: #C0C0C0;
    border: #000000 solid 1px;
}

.contactform textarea {
	width: 100%;
	height: 150px;
	margin: 5px auto 10px;
	background: rgba(100,100,100,0.2);
    color: #C0C0C0;
    border: #000000 solid 1px;
	resize: none;
}

.footnote {
	height: 45px;
	background: #00263D;
}

.socialmedia {
	display: inline-block;
	margin: 8px auto;
	width: 30%;
	height: 25px;
}

.mysocialmedia {
	display: inline-block;
	margin: 0 10px;
	height:30px;
	width: 30px;
}
.mysocialmedia img {
    height: 100%;
    width:  100%;
    background: #ffffff;
}

.copyright {
	display: inline-block;
	font-size: 0.6em;
    color: #ffffff;
    margin: 2.5% 1% 0%;
    float: right;
}