* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;		
/*	border: 1px solid black;	*/
}

ul {
	list-style: none;
}

body {
	background-size: 100%;
	background-color: #ffffff;
}

a:link, a:visited {
	color: #ffffff;
}

h2 {
	text-align: center;
}

img {
	height: 100%;
	width: 100%;
}

.menu {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #00263D;
	text-align: center;
}

.menu-item {
	display: inline-block;
	font-size: 1.5em;
    padding: 30px 40px;
}

.menu-item:hover {
	background-color: #ff8800;
}

.intro {
	display: block;
	margin-top: 90px;
	height:300px;
}

.about {
	padding: 50px 0;
	background-image: linear-gradient(rgba(150,150,255,0.6),rgba(0,120,200,0.2));
}

.mypicture {
	margin: 5px 30px;
	height: 490px;
	width: 30%;
	display: inline-block;
}

.myprofile {
	margin: 5px 30px;
	height: 490px;
	width: 50%;
	display: inline-block;
	vertical-align: top;
}


.skills {
	height: 550px;
	padding: 50px 0;
    background-image: linear-gradient(rgba(0,120,200,0.2),rgba(150,150,255,0.6));
}

/*	slider stylings
.skills-slider {
	margin: 5px auto;
	width: 80%;
	height: 250px;
}

#slideshow{
	height: 200px;
	width: 200px;
	margin:5px auto;
}
*/

.myskills {
	width: 896px;
	height: 450px;
	margin: 5px auto;
}

.skill{
	display: inline-block;
	height: 100px;
	width: 100px;
	margin: 10px 10px;
}

.projects {
	height: 550px;
	padding: 100px 0 100px 0;
    background-image: linear-gradient(rgba(150,150,255,0.6),rgba(255,120,120,0.2));
}

.myprojects {
	width: 671px;
	height: 450px;
	margin: 5px auto;
}

.project {
	display: inline-block;
	height: 200px;
	width: 200px;
	margin: 10px 10px;
}

.contact {
	height: 330px;
	width: 100%;
	background-image: linear-gradient(rgba(255,120,120,0.2),rgba(150,150,255,0.6));
}

.contactinfo {
	margin: 5px 30px;
	width: 600px;
	height: 98%;
	display: inline-block;
	vertical-align: top;
}

.contactform {
	margin: 5px auto;
	height: 320px;
	display: inline-block;
}

.contactform input[type=text] {
	width: 100%;
	margin: 5px auto 10px;
	background-color: rgba(100,100,100,0.2);
}

.contactform textarea {
	width: 100%;
	height: 150px;
	margin: 5px auto 10px;
	background-color: rgba(100,100,100,0.2);
	resize: none;
}

.footnote {
	height: 45px;
	background-color: #00263D;
}

.socialmedia {
	display: inline-block;
	margin: 8px auto;
	width: 81%;
	height: 40px;
}

.mysocialmedia {
	display: inline-block;
	margin: 0 10px;
	height:30px;
	width: 30px;
}

.copyright {
	display: inline-block;
	margin: 0 5px;
	height: 20px;
	width: 18%;
	font-size: 0.6em;
	text-align: right;
}