* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
/*    border: 1px solid black;*/
}

body {
	background: #002D37;
    margin: 0;
}

ul {
	list-style: none;
}

a:link, a:visited {
	color: #ffffff;
}

h2 {
	text-align: center;
    font: 3em 'Oleo Script';
    padding-bottom: 20px;
}

h3 {
    font: 2em 'Oleo Script';
    margin: 0 15px 35px;
    text-align: right;
}

img {
	height: 100px;
	width: 100px;
}

.menu {
	position: fixed;
	top: 0;
	width: 100%;
    height: 60px;
	background: #002D37;
	text-align: center;
    z-index: 10000;
}

.menu-item {
	display: inline-block;
    margin: auto;
}

.menu-item a {
    font: 1.5em 'Oleo Script';
    text-decoration: none;
    line-height: 60px;
    padding: 20px 40px;
}

.menu-item:hover {
	background: #ff8800;
}

.intro {
	margin: 60px 0 0;
	height: 460px;
    background: url("../images/bambooforrest.png") no-repeat center / cover;
}

.intro p {
    color: #ffffff;
    font: 3em 'Oleo Script';
    margin: 350px 15px 0;
    float: right;
}
.intro span {
    display: block;
    margin: -12px 0 0 11%;
    font: 0.5em 'Cinzel';
}

.about {
	padding: 50px 0;
    color: #ffffff;
}

.mypicture {
    margin: 0 0 0 8%;
	width: 16%;
	display: inline-block;
}
.mypicture img {
    height: 100%;
    width: 100%;
    border-radius: 250px;
}

.myprofile {
    margin: 0 0 0 5%;
    padding: 10px 50px;
	width: 50%;
	display: inline-block;
	vertical-align: top;
}
.myprofile p {
        font: 1em 'Cinzel';
        color: rgba(255, 255, 255, 0.7);
}

.skills {
	padding: 50px 0;
    background: rgba(255, 255, 255, 0.7);
}

.languages {
    vertical-align: top;
    display: inline-block;
    padding: 20px 0 0;
    margin: 0 12.5% 0 2%;
    width: 22%;
}
.programs {
    vertical-align: top;
    display: inline-block;
    margin: 0 2% 0px 12.5%;
    padding: 20px 0 0;
    width: 22%;
}
.skillcontainer {
    margin: auto;
    padding: 15px 0 0 20%;
}
.myskills {
    margin: 0 auto 80px;
    width: 100%;
}

.skilllanguage,.skillprogram {
    position: relative;
	display: block;
    vertical-align: top;
	width: 100%;
	margin: 20px 5% 0 0;
}

.skilllanguage p {
    position: relative;
    font: bold 0.8em verdana;
    color: #ff8800;
    z-index: 3;
}
.skillprogram p {
    position: absolute;
    display: inline-block;
    font: bold 0.8em verdana;
    top: 53%;
}

.bar {
    position: absolute;
    top: 15%;
    display: inline-block;
    height: 15px;
    width: 75%;
    background: #ffffff;
    z-index: 0;
}
.percent {
    background: #0105F0;
    height: 100%;
}

.skilllanguage:nth-child(1) .percent {
    width: 80%;
}
.skilllanguage:nth-child(2) .percent {
    width: 50%;
}
.skilllanguage:nth-child(3) .percent {
    width: 60%;
}
.skilllanguage:nth-child(4) .percent {
    width: 40%;
}
.skilllanguage:nth-child(5) .percent {
    width: 60%;
}

.skillprogram:nth-child(1) .percent {
    width: 10%;
}
.skillprogram:nth-child(2) .percent {
    width: 70%;
}
.skillprogram:nth-child(3) .percent {
    width: 30%;
}

.projects {
    padding: 75px 0 100px 0;
    background: rgba(120, 255, 255, 0.3);
    color: #ffffff;
}

.projectcontainer {
    margin: 0 auto;
    width: 85%;
}

.myprojects {
	width: 90%;
	margin: auto;
}

.project {
	display: inline-block;
	margin: 10px 10px;
}

.project a {
    text-decoration: none;
    vertical-align: bottom;
}

.contact {
	width: 100%;
	color: #FFFFFF;
}

.contact h2 {
    text-align: left; 
    margin: 0 0 0 11px;  
}

.contactcontainer {
    margin: auto;
    width: 85%;
}

.contactinfo {
	margin: 80px 30px;
    padding: 20px 35px;
	width: 35%;
	height: 285px;
	display: inline-block;
	vertical-align: top;
}
.contactinfo p {
    color: rgba(255, 255, 255, 0.7);
    margin: 6% 6%;
    display: block;
    font: 1em 'Cinzel';
}

.contactform {
	margin: 100px auto 0;
    height: 320px;
    display: inline-block;
    width: 55%;
}

.contactform input[type=text] {
	width: 100%;
	margin: 5px auto 10px;
	background: rgba(100,100,100,0.2);
    color: #C0C0C0;
    border: #000000 solid 1px;
}

.contactform textarea {
	width: 100%;
	height: 150px;
	margin: 5px auto 10px;
	background: rgba(100,100,100,0.2);
    color: #C0C0C0;
    border: #000000 solid 1px;
	resize: none;
}

.footnote {
	height: 45px;
	background: #00263D;
}

.socialmedia {
	display: inline-block;
	margin: 8px auto;
	width: 30%;
	height: 25px;
}

.mysocialmedia {
	display: inline-block;
	margin: 0 10px;
	height:30px;
	width: 30px;
}
.mysocialmedia img {
    height: 100%;
    width:  100%;
    background: #ffffff;
}

.copyright {
	display: inline-block;
	font: 0.6em verdana;
    color: #ffffff;
    margin: 1.5% 1% 0%;
    float: right;
}